# Dependency directories
node_modules/
**/node_modules/
.venv/
venv/
*/venv/

# Distribution directories
dist/
build/
*/dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.pyenv

# Cache directories
.cache/
**/.cache/
.CACHEDIR.TAG
__pycache__/
**/__pycache__/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Python specific
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Backend specific
**/lock

# Frontend specific
.pnp
.pnp.js
coverage/

# Local Netlify folder
.netlify

# Server
**/bin/
**/lib/
**/share/

# Miscellaneous
.lock

bashcommands.txt